# object files created during the build and the output binary itself
*.o
tilemaker

# editor temporaries
*~

# vagrant local stuff
.vagrant/

# protocol buffers generated headers
include/osmformat.pb.h
include/vector_tile.pb.h
