# object files created during the build and the output binary itself
*.o
tilemaker
tilemaker-server
build/
tilemaker.dSYM/

# editor temporaries
*~

# vagrant local stuff
.vagrant/

# protocol buffers generated headers
include/osmformat.pb.h
include/vector_tile.pb.h

# downloaded data
coastline
landcover
/test.*

# MacOS
.DS_Store

# VS Code
.vscode
